<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Photo</th>
      <th>Price</th>
      <th>Stock</th>
      <th>Store</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.photo %></td>
        <td><%= product.price %></td>
        <td><%= product.stock %></td>
        <td><%= link_to product.store, product.store %></td>
        <td><%= link_to 'Show', [product.store, product] %></td>
        <td><%= link_to 'Sacar de wishlist', remove_from_user_wishlist_path(@user_wishlist, product), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>