<h1>Searches#index</h1>
<%= search_form_for @q, url: search_searches_path, html: { method: :post } do |f| %>
	<div class="field">
		<%= f.label :price_gteq, "Price between" %>
	  	<%= f.search_field :price_gteq %>
	  	<%= f.label :price_lteq, "and" %>
	  	<%= f.search_field :price_lteq %>
	</div>

	<div class="actions">
		<%= f.submit "search" %>
	</div>

	<%= content_tag :table do %>
	  <%= content_tag :th, sort_link(@q, :name) %>
	  <%= content_tag :th, sort_link(@q, :description) %>
	  <%= content_tag :th, sort_link(@q, :price) %>
	<% end %>
<% end %>
