<p id="notice"><%= notice %></p>

<h1>Listing Whishlists</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th>Icon</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @whishlists.each do |whishlist| %>
      <tr>
        <td><%= whishlist.type %></td>
        <td><%= whishlist.name %></td>
        <td><%= whishlist.icon %></td>
        <td><%= whishlist.user %></td>
        <td><%= link_to 'Show', whishlist %></td>
        <td><%= link_to 'Edit', edit_whishlist_path(whishlist) %></td>
        <td><%= link_to 'Destroy', whishlist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Whishlist', new_whishlist_path %>
