<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Photo</th>
      <th>Price</th>
      <th>Stock</th>
      <th>Store</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.photo %></td>
        <td><%= product.price %></td>
        <td><%= product.stock %></td>
        <td><%= product.store %></td>
      </tr>
    <% end %>
  </tbody>
</table>