<p id="notice"><%= notice %></p>


<p>
  <strong>Name:</strong>
  <%= @wishlist.name %>
</p>

<p>
  <strong>Icon:</strong>
  <%= image_tag @wishlist.icon %>
</p>

<p>
  <strong>User:</strong>
  <%= @user %>
</p>

<%= render partial: "wishlists/product" %>



<%= link_to 'Edit', edit_user_wishlist_path(@user, @wishlist) %> |
<%= link_to 'Back', @user %>
