<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag @product.photo.url %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @product.stock %>
</p>

<p>
  <strong>Store:</strong>
  <%= @product.store %>
</p>

<p>
<% @product.tags.each do |tag| %>
  #<%= tag %>
<% end %>
</p>


<strong><%= @product.likes.count %> Likes</strong>
<%= render partial: "likes/form", locals: {likeable: @product} %>

<%= render partial: "wishlists/add_to_wishlist" %>

<%= render partial: "comments/comments", locals: {commentable: @product} %>
<%= render partial: "comments/form", locals: {commentable: @product} %>

<%= link_to 'Edit', edit_store_product_path(@store, @product) %> |
<%= link_to 'Back', @store %>
